<!-- Content Header (Page header) -->
<div>
     <div ng-show="spinnerStudentProfile">
         <div class="overlays"></div>
     </div>
 <section class="content-header">
     <h1>
         Mi perfil
     </h1>
     <ol class="breadcrumb">
         <li><a href ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
         <li class="active">Mi perfil</li>
     </ol>
 </section>

 <!-- Main content -->
<section class="content">
    <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
        <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
    </div>
    <div ng-if="!alertError" class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-danger">
                <div class="box-body box-profile">
                    <img class="img-circle profile-user-img img-responsive" style="width:100px; height:100px;background-color:1px silver;border-radius:50%;" src="http://www.utepsa.edu/miutepsa/imagenes/faces/{{initRegisterStudent}}/{{photoRegisterStudent}}.jpg" alt="User Avatar">
                    <h3 class="profile-username text-center">{{studentProfile.name}} {{studentProfile.fatherLastname}} {{studentProfile.motherLastname}}</h3>
                    <p class="text-muted text-center">Código Registro: {{studentProfile.registerNumber}}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Ult. Actualización</b><span class="pull-right text-muted"> <i class="fa fa-clock-o"></i> <span am-time-ago="dataUpdateStudent*1000 | date: 'dd MMMM yyyy, HH:mm' : 'UTC'"></span></span>
                        </li>
                    </ul>

                    <a ng-click="updateStudentInformation()" ng-class="{'disabled':totalHour<=12 || stateUpdateStudent==false}" class="btn btn-danger btn-block"><i style="color: white" class="fa fa-undo" aria-hidden="true"></i><b> Actualizar</b></a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.box -->
        <!-- About Me Box -->
        <div class="col-md-9">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="fa fa-user box-title"> Acerca de mi</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div  class="col-md-6 col-sm-6">
                        <strong><i class="fa fa-info-circle margin-r-5"></i> Nombres:</strong>
                        <p class="text-muted">{{studentProfile.name}}</p>

                        <strong><i class="fa fa-info-circle margin-r-5"></i> Apellidos:</strong>
                        <p class="text-muted">{{studentProfile.fatherLastname}} {{studentProfile.motherLastname}}</p>

                        <strong><i class="fa fa-calendar margin-r-5"></i> Fecha de nacimiento:</strong>
                        <p class="text-muted">{{studentProfile.birthday *1000 | date:'dd/MM/yyyy': 'UTC'}}</p>

                        <strong><i class="fa fa-list-alt margin-r-5"></i> {{studentProfile.documentType}}:</strong>
                        <p ng-if="studentProfile.documentNumber !=null && studentProfile.documentNumber != ''" class="text-muted">{{studentProfile.documentNumber}}</p>
                        <p ng-if="studentProfile.documentNumber ==null || studentProfile.documentNumber == ''" class="text-muted">No ha sido registrado su C.I.</p>

                        <strong><i class="fa fa-barcode margin-r-5"></i> Semestre de Ingreso:</strong>
                        <p class="text-muted">{{studentProfile.firstSemester}}</p>

                        <strong><i class="fa fa-barcode margin-r-5"></i> Facultad:</strong>
                        <p class="text-muted">{{studentProfile.career.faculty.name}}</p>

                    </div>
                    <div  class="col-md-6 col-sm-6">
                        <strong><i class="fa fa-barcode margin-r-5"></i> Código de registro:</strong>
                        <p class="text-muted">{{studentProfile.registerNumber}}</p>

                        <strong><i class="fa fa-barcode margin-r-5"></i> Carrera:</strong>
                        <p class="text-muted">{{studentProfile.career.name}}</p>

                        <strong  ng-if="studentProfile.email1 !=null && studentProfile.email1 != ''"><i class="fa fa-envelope margin-r-5"></i> Correo electrónico Principal:</strong>
                        <p   ng-if="studentProfile.email1 !=null && studentProfile.email1 != ''" class="text-muted">{{studentProfile.email1}}</p>

                        <strong ng-if="studentProfile.email2 !=null && studentProfile.email2 != ''"><i class="fa fa-envelope margin-r-5"></i> Correo electrónico Secundario:</strong>
                        <p ng-if="studentProfile.email2 !=null && studentProfile.email2 != ''" class="text-muted">{{studentProfile.email2}}</p>

                        <strong ng-if="studentProfile.phoneNumber1 !=null && studentProfile.phoneNumber1 != ''"><i class="fa fa-phone margin-r-5"></i> Teléfono Principal:</strong>
                        <p ng-if="studentProfile.phoneNumber1 !=null && studentProfile.phoneNumber1 != ''" class="text-muted">{{studentProfile.phoneNumber1}}</p>

                        <strong ng-if="studentProfile.phoneNumber2 !=null && studentProfile.phoneNumber2 != ''"><i class="fa fa-phone margin-r-5"></i> Teléfono Secundario:</strong>
                        <p ng-if="studentProfile.phoneNumber2 !=null && studentProfile.phoneNumber2 != ''" class="text-muted">{{studentProfile.phoneNumber2}}</p>
                    </div>
                    <hr>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
</div>