

    <!-- sidebar: style can be found in sidebar.less -->
    <div class="slimScrollDiv">
      <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel" ng-controller="StudentProfileController">
          <div class="pull-left image">
            <img id="sidebarImg" class="img-circle img-responsive sidebarOpenImg" src="http://www.utepsa.edu/miutepsa/imagenes/faces/{{initRegisterStudent}}/{{photoRegisterStudent}}.jpg"  onerror="imagenError()" alt="User Avatar">
          </div>
          <div class="pull-left info">
            <p>{{studentProfile.name}}</p>
            <!-- Status -->
            <a><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <!-- search form (Optional) -->
        <!-- <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form> -->
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li class="header"><font color="White"><b>MENU</b></font></li>
          <!-- Optionally, you can add icons to the links -->
          <li><a ui-sref="dashboard"  onclick="closeSidebar();"><i class="fa fa-tachometer"></i> <span>Inicio</span></a></li>
          <li><a ui-sref="notifications"  onclick="closeSidebar();"><i class="fa fa-newspaper-o"></i> <span>Noticias</span></a></li>
          <li><a ui-sref="coursesRegistered"  onclick="closeSidebar();"><i class="fa fa-list-alt"></i> <span>Programación Semestral</span></a></li>
          <li><a ui-sref="historyNotes"  onclick="closeSidebar();"><i class="fa fa-list-ul"></i> <span>Historial de notas</span></a></li>
          <li><a ui-sref="documentsStudent"  onclick="closeSidebar();"><i class="fa fa-files-o"></i> <span>Documentación</span></a></li>
          <li><a ui-sref="financialState"  onclick="closeSidebar();"><i class="fa fa-money"></i> <span>Estado financiero</span></a></li>
          <li><a ui-sref="about"  onclick="closeSidebar();"><i class="fa fa-info-circle"></i><span>Acerca de...</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
    </div>