<div ng-show="spinnerResetPassword">
    <div class="overlays"></div>
</div>
<div class="register-box">
    <div class="register-logo">
        <span class="logo-lg" style="color:white" ><span class="icon-utepsa-logo"></span><b>UTEPSA</b> Móvil</span><br>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Cambio de contraseña</p>

        <form name="signupForm" ng-submit="resetPasswords()">
            <div class="form-group">
                <input type="password" class="form-control"  ng-model="password" placeholder="Password" name="password"required="required" ng-minlength="8"/>
                <div ng-if="signupForm.password.$touched || signupSubmitted">
                    <p ng-show="signupForm.password.$error.required" class="help-block">La contraseña es requerida.</p>
                    <p ng-show="signupForm.password.$error.minlength" class="help-block">Minimo 8 caracteres.</p>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  name="confirm_password" ng-model="confirm_password" placeholder="Confirm password" match-password="password" required>
                <div ng-if="signupForm.confirm_password.$touched || signupSubmitted">
                    <p ng-show="signupForm.confirm_password.$error.required" class="help-block">La confirmacion de contraseña es requerida.</p>
                    <p ng-show="signupForm.confirm_password.$error.matchPassword && !signupForm.confirm_password.$error.required" class="help-block">Las contraseñas son diferentes.</p>
                </div>
            </div>
            <br>
            <button id="login"  class="btn btn-danger btn-block btn-flat">Confirmar</button>

        </form>
    </div>
    <!-- /.form-box -->
    <br>
    <div class="row">
         <div class="col-md-12">
             <div class="text-center" style="color: #ccc;">
                 <strong>Información:</strong> Restable tu contraseña y asegurate de no olvidarte,
                                                caso contrario,porfavor apersonarse a la Fabrica de Aplicaciones.
             </div>
         </div>
     </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" ng-if="alertError">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>Error:</strong>{{messageAlert}}
            </div>
        </div>
    </div>
    <div id="mymodal" name="mymodal" class="modal fade"  data-backdrop="" style="position: fixed" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Información</h4>
                </div>
                <div class="modal-body text-center">
                    <p>Su contraseña fue restablecida correctamente.</p>
                    <p>Bienvenido a <b>UTEPSA</b> Móvil.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="goToDashboard()" class="btn btn-danger center-block" data-backdrop="false" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
 <!-- /.resetPassword-box