    <section class="content-header">
      <h1>
        Noticias
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
            <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
        </div>
        <div ng-if="!alertError" class="row">
            <div class="col-md-8">
                <!-- Your Page Content Here -->
                <div infinite-scroll='loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='3'>
                    <ul class="timeline">
                        <!-- timeline time label -->
                        <!-- <li class="time-label">
                          <span class="bg-red">
                              10 Feb. 2014
                          </span>
                        </li> -->
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li ng-repeat="notification in notifications track by notification.id">
                            <!-- timeline icon -->
                            <i class="fa fa-newspaper-o bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> <span am-time-ago="notification.dateCreation *1000 | date: 'dd MMMM yyyy, HH:mm' : 'UTC' "></span></span>
                                <h3 class="timeline-header"><b>{{notification.title}}</b></h3>
                                <div class="timeline-body">
                                    {{notification.content}}
                                </div>
                                <div class="timeline-footer">
                                    <a data-backdrop="" data-toggle="modal" data-target="#myModal{{notification.id}}">
                                        <button class="btn btn-xs btn-primary">Leer más</button>
                                        <div id="myModal{{notification.id}}" class="modal fade pull-left"   role="dialog" style="color:black;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title text-center"><b>{{notification.title}}</b></h4>
                                                        <h5><span class="time"><i class="fa fa-clock-o"></i> <span am-time-ago="notification.dateCreation *1000 | date: 'dd MMMM yyyy, HH:mm' : 'UTC' "></span></span></h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <!--div class="col-md-6">
                                                              <img src="http://thumbs.subefotos.com/0d3b3729b19bb6fce6f412acec143f46o.jpg" width="100%" height="100%" />
                                                            </div-->
                                                            <div class="col-md-6">
                                                                <p>{{notification.content}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-if='busy' class="text-center">Cargando notificaciones...</div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content