.hold-transition, .login-page{
	background: url(../images/foto-utepsa.png) no-repeat center fixed;
	background-size: cover;
}
.login-box-body{
	border-radius: 10px;
	background: rgba(255,255,255,0.8);
	transition: box-shadow .35s;

}
.login-box-body:hover{
	transition: box-shadow .35s;
   box-shadow: 10px 8px 17px 0 rgba(0,0,0,0.6),
                10px 6px 20px 0 rgba(0,0,0,0.19);
}

#login.btn.btn-flat{
	border-radius: 8px;
	font-size: 1.4em ;
	height: 40px;
}
.icheckbox_square-blue{
	border: 1px red solid;
}
.iconos.icon.fa {
	color:#dd4b39;
}
.iconos.icon.glyphicon {
    color:#dd4b39;
}
.icon.fa.fa-expeditedssl {
	font-size: 100px;
	color:red;
	margin-bottom: 10px
}
.login-logo a{
	color: aliceblue;
}
.login-logo{
	font-size:31px!important
}