@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?47139815');
    src: url('../fonts/fontello.eot?47139815#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?47139815') format('woff2'),
    url('../fonts/fontello.woff?47139815') format('woff'),
    url('../fonts/fontello.ttf?47139815') format('truetype'),
    url('../fonts/fontello.svg?47139815#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;

    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;

    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-utepsa:before {
    content: '\e800';
    padding-top: 7px;
    font-size: 2.1em;
    padding-right: 2em;
}

.icon-utepsa-logo:before {
    content: '\e800';
    padding-top: 7px;
    font-size: 1.3em;
}

.mreprobada {
    background: #FF0000;
    display: inline;
    margin-right: 4px
}

.maprovada {
    background: #31B404;
    display: inline;
    margin-right: 4px
}

.numBig {
    color: darkcyan;
    font-size: 60px;
    font-weight: bold;
    margin: -21px
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.help-block{
    color: red;
}
.login-footer{
    color: #FFF;
    position:relative; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
    z-index:0;
}
.container-footer{
    min-height:100%;
    margin-bottom: -40px; /* Put negative height of the footer here */
    padding-bottom: 40px; /* Put height of the footer here. Needed for higher than screen height pages */
}
.login-page, .register-page {
    background: #337ab7;
}
tbody tr:nth-child(odd):hover{
    background-color: #BBDEFB;
}
tbody tr:nth-child(even):hover{
    background-color: #BBDEFB;
}
.textWhite{
    color:#fff;

}
.vertical-center {
    margin: 5px 0px 5px 0px
}
tr.courseNotes{
    background-color: #efb3ac;
}