.overlays {
    display : block;
    position : absolute;
    z-index: 100;
    background-image : url('../images/loading.gif');
    background-color:#ffffff;
    opacity : 0.9;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
