<div ng-show="spinnerLogin">
    <div class="overlays"></div>
</div>
<div class="login-box">
    <div class="login-logo">
        <span class="logo-lg" style="color:white" ><span class="icon-utepsa-logo"></span><b>UTEPSA</b> Móvil</span><br>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Introduce tus datos para iniciar sesión</p>
        <form name="form" ng-submit="login()">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" ng-model="username" placeholder="Usuario" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="password"  placeholder="Contraseña" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                  <button  class="btn btn-primary btn-block btn-flat login">Entrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
  <!-- /.login-box-body -->
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" ng-if="alertError" style="margin-top: 5%">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>Error:</strong> {{messageAlert}}
            </div>
        </div>
    </div>
</div>
<div class="container-footer">
    <div class="text-center login-footer">
        <p>Cualquier duda o consulta , no olvides enviarnos un correo: <span style="color: #ffed00">software.factory@utepsa.edu</span></p>
    </div>
</div>
<!-- /.login-box -->