
    <div ng-show="spinnerNotifications">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1>
            Noticias
            <a ng-if="!alertNotifications" type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="" data-target="#myModal"> <i class="fa fa-plus"></i> Crear Noticia </a>
        </h1>

        <ol class="breadcrumb">
            <li><a ui-sref="searchStudents" ><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">Noticia</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-12">
                <div class="alert alert-danger" ng-if="alertNotifications" style="margin-bottom: 0px;padding: 6px;">
                    <strong>Error:</strong> {{messageNotifications}}
                </div>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12" >
                <div>
                <ul class="timeline">
                    <li ng-repeat="notification in notifications track by $index">
                        <i class="fa fa-newspaper-o bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time ng-binding">
                                <i class="fa fa-clock-o">
                                </i> <span am-time-ago="notification.dateCreation *1000 | date: 'dd MMMM yyyy, HH:mm' : 'UTC' "></span>
                            </span>
                            <h3 class="timeline-header"><b>{{notification.title}}</b></h3>
                            <div class="timeline-body ng-binding">
                                {{notification.content}}
                            </div>
                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{notification.id}}">Leer más</a>
                            </div>
                            <div id="{{notification.id}}" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title text-center"><b class="ng-binding">Bienvenido!</b></h4>
                                        <h5 class="ng-binding"><i class="fa fa-clock-o"></i> <span am-time-ago="notification.dateCreation * 1000 | date: 'dd MMMM yyyy, HH:mm' : 'UTC'"></span> </h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>{{notification.content}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </section>

    <div id="myModal" class="modal fade" tabindex="-1"  role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <form class="ng-pristine ng-valid">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3>Tipo de notificacion:</h3>
                                            <div class="form-group">
                                                <select id="option" class="btn  btn-danger" ng-model="selectedTypeNotification">
                                                    <option value="">Elija el tipo:</option>
                                                    <option ng-repeat="type in typeOfNotification" value="{{type.id}}">{{type.name}}</option>
                                                </select>
                                            </div>

                                            <h3>Dirigido a:</h3>
                                            <div class="form-group" >
                                                <input id="public" name="typeOfAudience" ng-model="typeOfAudience" type="radio" value="1" class="ng-pristine ng-untouched ng-valid ng-empty">
                                                <label for="public"> PUBLICO</label>
                                            </div>
                                            <div class="form-group">
                                                <input id="student" name="typeOfAudience" ng-model="typeOfAudience" type="radio" value="2" class="ng-pristine ng-untouched ng-valid ng-empty">
                                                <label for="student">ESTUDIANTE</label>

                                            </div>
                                            <div class="form-group">
                                                <input id="career" name="typeOfAudience" ng-model="typeOfAudience" type="radio" value="3" class="ng-pristine ng-untouched ng-valid ng-empty">
                                                <label for="career">CARRERA</label>
                                            </div>
                                            <div class="form-group" ng-show="typeOfAudience =='3'">
                                                <select class="form-control btn btn-danger" ng-model="selectedCareer"  style="width: 100%;" aria-hidden="true">
                                                    <option value="">Seleccione una Carrera:</option>
                                                    <option ng-repeat="careers in  careersByGrade " value="{{careers.id}}">{{careers.name}}</option><!-- end ngRepeat: careers in  careersByGrade -->
                                                </select>
                                            </div>
                                            <div class="form-group ng-hide" ng-show="typeOfAudience =='2'">
                                                <input type="text" ng-model="codigoRegistro" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Codigo de Registro del estudiante">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" ng-model="title" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Titulo...">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="content" rows="6" placeholder="Ingrese su contenido ..."></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right: 15px;margin-left: 15px;">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="alert alert-success" ng-if="alertError == 1" style="padding: 8px;">
                            <strong>Información:</strong> {{messageAlert}}
                        </div>
                        <div class="alert alert-danger" ng-if="alertError == 2" style="padding: 8px;">
                            <strong>Error:</strong> {{messageAlert}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger pull-left" type="button" id="myButton" data-submit="...Sending" ng-click="createNotification()">Enviar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>