

    <!-- sidebar: style can be found in sidebar.less -->
    <div class="slimScrollDiv"  >
      <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel" ng-controller="adminProfileController">
          <div class="pull-left image">
            <img src="images/avatar.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>{{adminProfile.profile.name}}</p>
            <!-- Status -->
            <a><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <!-- search form (Optional) -->
        <!-- <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
          </div>
        </form> -->
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" ng-controller="permissionController">
          <li class="header"><font color="White"><b>MENU</b></font></li>
          <!-- Optionally, you can add icons to the links -->
          <div class="text-center">
            <div ng-show="spinnerPermissions" class="overlay">
              <i class="fa fa-refresh fa-spin" style="color: white;"></i>
            </div>
            <div ng-show="spinnerPermissions">
              <p style="color: white">Cargando...</p>
            </div>
          </div>
          <li ng-if="queryUser"><a ui-sref="dashboard"  onclick="closeSidebar();"><i class="fa fa-tachometer"></i> <span>Inicio</span></a></li>
          <li ng-if="queryStudent"><a ui-sref="searchStudents"  onclick="closeSidebar();"><i class="fa fa-search-plus"></i> <span>Búsqueda de estudiantes</span></a></li>
          <li ng-if="createNotification"><a ui-sref="notifications"   onclick="closeSidebar();"><i class="fa fa-newspaper-o"></i> <span>Noticias</span></a></li>
          <li ng-if="queryUser"><a ui-sref="userManagement"  onclick="closeSidebar();"><i class="fa fa-user"></i> <span>Administración de Usuarios</span></a></li>
          <li ng-if="queryUser"><a ui-sref="groupsOffered"  onclick="closeSidebar();"><i class="fa fa-tags"></i> <span>Materias Ofertadas</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
    </div>