
<div ng-show="spinnerDashboard">
    <div class="overlays"></div>
</div>
<section class="header">
    <h1 class="text-center">
        Reporte General
    </h1>
</section>

<section class="content" ng-show="!spinnerDashboard">
    <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
        <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
    </div>
    <div ng-if="!alertError">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-aqua-active">
                    <div class="inner">
                        <h3>{{executeReport.semester}}</h3>

                        <p>Semestre Activo</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-calendar-outline"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{executeReport.total}}</h3>

                        <p>Total Estudiantes Inscritos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{executeReport.totalActive}}</h3>
                        <p>Estudiantes Activos</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{executeReport.average}}</h3>

                        <p>Promedio General</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-list"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box perfiles">
                    <div class="box-header with-border text-center" data-widget="collapse">
                        <h3 class="box-title"><b>Promedio</b> por Carrera</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mas">
                                <i class="fa fa-plus  iconCollapse" ></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas class="chart-horizontal-bar" chart-data="averageData" chart-labels="averageCareerName" chart-series="averageCarrerSerie">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                    <select ng-change="studentsByModule(selectedCareer)"  class="form-control btn btn-info" ng-model="selectedCareer"  style="width: 100%;" aria-hidden="true">
                        <option value="">Seleccione una Carrera:</option>
                        <option  ng-repeat="careers in  careersByGrade " value="{{careers.id}}">{{careers.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-show="loadResource">
            <div class="col-xs-12">
                <div class="callout callout-warning">
                    <h4>
                        <i class="fa fa-info-circle"></i>
                        Información
                    </h4>
                    <p>Seleccione una carrera para mostrar los diferentes graficos.</p>
                </div>
            </div>
        </div>
        <div ng-show="!loadResource" class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box perfiles collapsed-box">
                    <div class="box-header with-border text-center" data-widget="collapse">
                        <h3 class="box-title">Estudiantes <b>Inscritos</b> por Modulo de su Carrera</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mas">
                                <i class="fa fa-plus  iconCollapse" ></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none">
                        <canvas id="bar" class="chart chart-bar"
                                chart-data="dataStudentRegisterPerModule" chart-labels="labelsModule">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="box perfiles">
                    <div class="box-header with-border">
                        <h4>Estudiantes de la Carrera</h4>
                    </div>
                    <div class="box-body">
                        <div class="box box-widget">
                            <div class="widget-user-header bg-aqua">
                                <h3 style="margin: auto; padding: 10px" class="widget-user-header">{{itemsExecuterReportByCareer.data.nameCareer}} </h3>
                            </div>
                            <div style="border: 0.5px solid gray" class="box-footer">
                                <ul class="nav nav-stacked">
                                    <li>
                                        <a>
                                            Estudiantes Registrados
                                            <span class="pull-right badge bg-green">{{studentsPerCareer}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            Estudiantes Ativos
                                            <span class="pull-right badge bg-green">{{studentActive}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!loadResource" class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box perfiles collapsed-box">
                    <div class="box-header with-border text-center" data-widget="collapse">
                        <h3 class="box-title">Estudiantes Hombres y Mujeres <b>Inscritos</b> por Carrera</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mas">
                                <i class="fa fa-plus  iconCollapse" ></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">
                        <div ng-show="!alertErrorStudent">
                            <canvas style="max-width: 70%; margin: auto" id="polar-area" class="chart chart-polar-area " chart-data="dataStudents" chart-labels="labelsStudents" chart-type="type">
                            </canvas>
                            <hr>
                            <div class="text-center row">
                                <span class="col-xs-6">
                                    <i class="fa fa-circle-o text-gray"></i>
                                    Estudiantes mujeres: {{studentCareerWoman}}
                                </span>
                                <span class="col-xs-6">
                                    <i class="fa fa-circle-o text-blue"></i>
                                    Estudiantes hombres: {{studentCareerMan}}
                                </span>
                            </div>
                        </div>
                        <div ng-show="alertErrorStudent" class="alert alert-danger alert-dismissable">
                            <h4><i class="icon fa fa-ban"></i> {{messageAlerStudent}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box perfiles collapsed-box">
                    <div class="box-header with-border text-center" data-widget="collapse">
                        <h3 class="box-title">Estudiantes Hombres y Mujeres <b>Activos</b> por Carrera</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mas">
                                <i class="fa fa-plus  iconCollapse" ></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">
                        <div ng-show="!alertErrorStudentActive">
                            <canvas style="max-width: 70%; margin: auto" id="polar-area2" class="chart chart-polar-area " chart-data="dataActiveStudents" chart-labels="labelsActiveStudents" chart-type="type">
                            </canvas>
                            <hr>
                            <div class="text-center row">
                            <span class="col-xs-6">
                                <i class="fa fa-circle-o text-gray"></i>
                                Estudiantes mujeres: {{studentActiveWoman}}

                            </span>
                                <span class="col-xs-6">
                                <i class="fa fa-circle-o text-blue"></i>
                                Estudiantes hombres: {{studentActiveMan}}
                            </span>
                            </div>
                        </div>
                        <div ng-show="alertErrorStudentActive" class="alert alert-danger alert-dismissable">
                            <h4><i class="icon fa fa-ban"></i> {{messageAlerStudentActive}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>