<section class="content-header">
    <h1><i class="fa fa-tags"></i>
        Materias ofertadas
    </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="searchStudents"><i class="fa fa-home"></i>Inicio</a>
        </li>
        <li class=" active">
            <i class="fa fa-tags"></i>
            Materias ofertadas
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box perfiles">
                <div class="box-header">

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Buscar por: </label>
                            <select class="form-control" ng-change="checkSelection(optionSelect)" ng-model="optionSelect">
                                <option value=""> -- ELIJA UNA OPCION DE BUSQUEDA -- </option>
                                <option value="areaAcademica"> AREA ACADEMICA </option>
                                <option value="carrera"> CARRERA </option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Semestre Actual: </label>
                            <input ng-model="semester" type="text" class="form-control" placeholder="Ej. 2017-1">
                        </div>
                    </div>
                    <div class="row" ng-show="academicArea">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <label> Area Academica: </label>
                            <select class="form-control" ng-model="idAcademicArea">
                                <option value=""> -- ELIJA UN AREA ACADEMICA -- </option>
                                <option ng-repeat="items in itemsAcademicArea.data.data" value="{{items.id}}">{{items.description}}</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-top: 1.8em">
                            <button class="btn btn-primary pull-left" ng-click="getGroupsOfferedAcadeicArea(idAcademicArea, semester)">Enviar</button>
                        </div>
                        <div class="col-xs-12 col-sm-6" ng-show="AlertErrorGroupsOfferedAcademicArea">
                            <div class="alert alert-danger alert-dismissable" style="padding: 6px; margin-top: 10px">
                                <h4 style="margin: auto;">{{alertError}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="career">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="margin-bottom: 10px">
                            <label> Carrera: </label>
                            <select class="form-control" ng-model = "idCareer">
                                <option ng-repeat="careers in itemsCareers.data" value="{{careers.id}}">{{careers.name}}</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <label> Pensum: </label>
                            <input type="text" class="form-control" ng-model="pensum" placeholder="Pensum">
                            <br>
                            <button type="button" class="btn btn-primary" ng-click="getGroupsOfferedCareer(idCareer, pensum, semester)">Enviar</button>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6" ng-show="AlertErrorGroupsOfferedCareer">
                            <div class="alert alert-danger alert-dismissable" style="padding: 6px; margin-top: 10px">
                                <h4 style="margin: auto;">
                                    <i class="icon fa fa-ban"></i>
                                    {{alertError}}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="academicArea">
        <div class="col-xs-12" ng-show="!AlertErrorGroupsOfferedAcademicArea">
            <div ng-show="spinnerGroupsOfferedAcademicArea" class="box perfiles">
                <div class="box-header">
                    <h3 class="box-title"> Materias ofertadas </h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px">
                            <input type="text" ng-model="buscar.course.name"  class="form-control pull-right" placeholder="Buscar">
                            <div class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Iniciales</th>
                            <th>Nombre</th>
                            <th>Area</th>
                            <th>Docente</th>
                            <th>Turno</th>
                            <th>Horario</th>
                            <th>Semestre</th>
                        </tr>
                        <tr dir-paginate="item in itemsGetGroupsOfferedAcademicArea | itemsPerPage: 20 | filter: buscar">
                            <td>{{ item.course.initials }}</td>
                            <td>{{ item.course.name }}</td>
                            <td>{{ item.course.academicArea.description }}</td>
                            <td>{{ item.professor.name }}</td>
                            <td>{{ item.schedule.description }}</td>
                            <td>{{ item.schedule.schedule }}</td>
                            <td>{{ item.semester }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-top: 15px" ng-show="!AlertErrorGroupsOfferedCareer" class="col-xs-12">
            <div class="box perfiles" ng-show="spinnerGroupsOfferedCareer">
                <div class="box-header">
                    <h3 class="box-title"> Materias ofertadas </h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px">
                            <input type="text" ng-model="buscarCareer.course.name"  class="form-control pull-right" placeholder="Buscar nombre">
                            <div class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Iniciales</th>
                            <th>Nombre</th>
                            <th>Area</th>
                            <th>Docente</th>
                            <th>Turno</th>
                            <th>Horario</th>
                            <th>Semestre</th>
                        </tr>
                        <tr dir-paginate="items in itemsGetGroupsOfferedCareer | itemsPerPage: 20 | filter: buscarCareer">
                            <td>{{ items.course.initials }}</td>
                            <td>{{ items.course.name }}</td>
                            <td>{{ items.course.academicArea.description }}</td>
                            <td>{{ items.professor.name }}</td>
                            <td>{{ items.schedule.description }}</td>
                            <td>{{ items.schedule.schedule }}</td>
                            <td>{{ items.semester }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>