<div ng-show="spinnerFinancialState">
    <div class="overlays"></div>
</div>
<section class="content-header">
    <h1>
        Estado financiero
    </h1>
    <ol class="breadcrumb">
        <li><a href ui-sref="dashboard" ><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Estado financiero</li>
    </ol>
</section>
<section class="content">
    <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
        <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
    </div>
    <div ng-if="!alertError">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-4">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-4">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div style="color: white" class="widget-user-header" ng-class="{'red-status': financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance > 0,
                                                            'bg-yellow': (financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance == 0) ||
                                                                            (financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance > 0),
                                                             'bg-olive': financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance == 0 && financialStateOfStudent.data.outstandingBalance == 0 || alertErrorFinancialState}" >
                        <h3 class="text-center" ng-if="(financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance == 0) || alertErrorFinancialState"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> No tienes deudas pendientes. Gracias!</h3>

                        <h3 class="text-center" ng-if="financialStateOfStudent.data.delinquentBalance != 0 && financialStateOfStudent.data.debitBalance != 0 && !alertErrorFinancialState || financialStateOfStudent.data.outstandingBalance">Tienes Deudas Pendientes</h3>
                    </div>
                    <div ng-if="financialStateOfStudent.data.delinquentBalance != 0 && financialStateOfStudent.data.debitBalance != 0 && !alertErrorFinancialState || financialStateOfStudent.data.outstandingBalance" class="box-footer no-padding">
                        <ul class="nav nav-stacked">
                            <li><a><b>Pago Mensual:</b> <span class="pull-right">{{financialStateOfStudent.data.outstandingBalance | number : 2}} Bs.</span></a></li>
                            <li ng-if="financialStateOfStudent.data.expirationDate>0"><a><b>Fecha a pagar:</b> <span class="pull-right">{{financialStateOfStudent.data.expirationDate | date:'dd/MM/yyyy  ': 'UTC'}}</span></a></li>
                            <li ng-if="financialStateOfStudent.data.expirationDate<0 || financialStateOfStudent.data.expirationDate==null || financialStateOfStudent.data.expirationDate==''"><a><b>Fecha a pagar:</b> <span class="pull-right">N/A</span></a></li>
                            <li><a><b>Deuda vencida: </b><span class="pull-right">{{financialStateOfStudent.data.delinquentBalance | number : 2}} Bs.</span></a></li>
                            <li><a><b>Deuda Total:</b> <span class="pull-right">{{financialStateOfStudent.data.debitBalance | number : 2}} Bs.</span></a></li>
                        </ul>
                    </div>
                </div>
                <div ng-if="financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance > 0 || financialStateOfStudent.data.outstandingBalance" class="alert alert-warning text-center" style="padding: 7px">
                    <span><i class="icon fa fa-warning"></i>  Para mas información, puedes pasar por plataforma estudiantil.</span>
                </div>
                <!-- /.widget-user -->
            </div>
            <div class="col-xs-12 col-sm-2 col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-4 text-center">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-center" ng-controller="StudentProfileController">
                <div class="box box-widget">
                    <div class="box-header" style="background-color: #00a7d0">
                        <div class="text-center">
                            <h4 style="color: white"><b>Métodos de pago:</b></h4>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-xs-6 col-sm-6 col-md-6 text-center" style="border-right: 1px solid gainsboro">
                            <span><b>N° Registro:</b><br>{{registerCodeWithoutZero}}</span><br>
                            <a id="utepsa" data-backdrop="" data-toggle="modal" data-target="#paidWithUtepsa">
                                <button class="btn btn-danger">Pago a UTEPSA!</button>
                                <div id="paidWithUtepsa" class="modal fade"  role="dialog" style="color:black;" >
                                    <div class="modal-dialog" role="dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Pasos para efectivizar sus pagos:</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="min-height: 65px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-red-active" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                1
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Dirigirse a SAE (Servicio de Atencion al Estudiante), ubicado en Planta Baja.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="min-height: 65px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-red-active" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                2
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                A continuación, retirar ticket para atención general en caja.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="min-height: 65px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-red-active" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                3
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Posteriomente, esperar a ser requerido por el número de ticket que se retiro previamente.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="min-height: 65px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-red-active" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px;">
                                                                4
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Una vez en caja, proporcionar el número de registro de estudiante.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="min-height: 65px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-red-active" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                5
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Finalmente efectuar el pago.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                            <span><b>Código de BNB:</b><br> {{agendCodeWithoutZero}}</span><br>
                            <a id="BNB" data-backdrop="" data-toggle="modal" data-target="#paidWithBNB">
                                <button class="btn btn-success">Pago desde BNB!</button>
                                <div id="paidWithBNB" class="modal fade" data-backdrop="static" role="dialog" style="color:black;" >
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Pasos para efectivizar sus pagos:</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-green" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                1
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Escoja la opción <b>"Pago por tipo de servicio"</b> de la selección <b>"Pago a empresas"</b>, seguidamente seleccione el icono UTEPSA.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-green" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                2
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Una vez ingresado al ícono, ingresar el <b>"Código de BNB"</b> proporcionado por la universidad.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-green" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                3
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                El sistema desplegará el monto total de la deuda del cliente, es decir la sumatoria de los pagos pendientes.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-green" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                4
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Seguidamente el cliente deberá validar el monto a pagar, o si desea pagar un importe diferente, deberá modificarlo (se pueden realizar pagos parciales).
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-green" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                5
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Posteriormente, deberá registrar nombre y C.I. para la factura, seleccionar la cuenta para realizar el pago e introducir la combinación de la tarjeta de coordenadas.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="info-box" style="border: 1px solid; border-color: rgba(0, 0, 0, 0.1)">
                                                            <div class="info-box-icon bg-green" style="height: 25px; font-size: 20px; line-height: 25px; width: 25px">
                                                                6
                                                            </div>
                                                            <div class="info-box-content" style="margin-left: 0; padding: 0 0 0 40px; text-align: left">
                                                                Finalmente el sistema generará el comprobante electrónico respectivo, el cual puede ser impreso o exportado en formato PDF.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 text-center">

            </div>
        </div>
    </div>
</section>