<!-- Content Header (Page header) -->
<div>
    <div ng-show="spinnerDocumentsStudent">
        <div class="overlays"></div>
    </div>
    <section class="content-header">
        <h1>
            Documentación
        </h1>
    </section>

    <section class="content">
        <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
            <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
        </div>
        <div ng-if="!alertError" class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="box box-danger">
                    <div class="box-body box-profile">
                        <div>
                            <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() >= numberDocuments() && numberDocuments()>0 && numberDocumentsDelivered()>0">Gracias por entregar todos los documentos.</h3>
                            <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() < numberDocuments()">Por favor entregar los documentos pendientes.</h3>
                            <h3 class="profile-username text-center" ng-if="numberDocuments()==0 && numberDocumentsDelivered()==0">No tienes documentos registrados.</h3>
                        </div>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-12">
                                       <p class="numBig" style="display: inline-block">{{numberDocumentsDelivered()}}</p><p style="display: inline-block; margin:0px -11px 0px 18px;font-size: 47px">/{{numberDocuments()}}</p><br>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos entregados
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos faltantes
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            <div class="col-md-8">
                <div class="box box-danger">
                    <div class="box-body" ng-swipe-right="stop($event)" ng-swipe-left="stop($event)">
                        <table class="table table-condensed">
                            <thead>
                                <th class="text-center">Tipo</th>
                                <th>Descripción</th>
                            </thead>
                            <tbody ng-repeat="documentsStudents in documentsStudent | orderBy:'state':true">
                                <tr ng-class="{'color-red': documentsStudents.state == false,
                                    'color-green': documentsStudents.state == true}">
                                    <td class="text-center">
                                        <span ng-if="documentsStudents.typePaper == 'O'">Original</span>
                                        <span ng-if="documentsStudents.typePaper == 'F'">Fotocopia</span>
                                        <span ng-if="documentsStudents.typePaper.trim()==''">N/A</span>
                                    </td>
                                    <td>{{documentsStudents.document}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
