<div>
    <section class="content-header">
        <h1><i class="fa fa-search-plus"></i>
            Búsqueda de estudiantes
        </h1>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="searchStudents"><i class="fa fa-home"></i>Inicio</a>
            </li>
            <li class=" active">
                <i class="fa fa-search-plus"></i>
                Búsqueda de estudiantes
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class=" col-xs-12 col-sm-6 col-md-2">
                <div class="form-group">
                    <select id="search" ng-click="select2s()" class="form-control" ng-model="typeSearchSelected" required>
                        <option value="">-- Elija una opción de búsqueda --</option>
                        <option value="fullName">Buscar estudiante</option>
                    </select>
                </div>
            </div>
            <div class=" col-xs-12 col-sm-12 col-md-4" style="margin-bottom: 14px">
                <div ng-if="typeSearchSelected=='fullName'">
                    <div class="form-group">
                        <select class="form-control select2" ng-model="studentByName" style="width: 100%">
                            <option value="3620194" selected="selected">select2/select2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-show="spinnerSearchStudent">
                <div class="overlays"></div>
            </div>
        </div>
        <section ng-if="showParameters">
            <br>
            <div class="row">
                <!-- Documentacion -->
                <div class="col-xs-12">
                </div>
                <div class="">
                    <div class="col-xs-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="" ng-click="changedTabs('perfil')" data-toggle="tab" aria-expanded="true">
                                        Perfil
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="changedTabs('historial')" data-toggle="tab" aria-expanded="true">
                                        Historial de notas
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="changedTabs('documentacion')" data-toggle="tab" aria-expanded="true">
                                        Documentación
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="changedTabs('estadoFinanciero')" data-toggle="tab" aria-expanded="true">
                                        Estado financiero
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active in" ng-show="tabsPanels == 'perfil'" id="tab1">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-5">
                                            <div class="box perfiles">
                                                <div class="box-body">
                                                    <center>
                                                        <img class="img-circle profile-user-img img-responsive" style="width:100px; height:100px;background-color:1px silver;border-radius:50%;" src="http://www.utepsa.edu/miutepsa/imagenes/faces/{{initRegisterStudent}}/{{photoRegisterStudent}}.jpg" alt="User Avatar" onerror="imagenError()">
                                                        <h3>{{searchStudent.data.name}} {{searchStudent.data.fatherLastname}} {{searchStudent.data.motherLastname}}</h3>
                                                        <p>
                                                            Codigo de Registro: {{searchStudent.data.registerNumber}}
                                                        </p>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-7">
                                            <div class="box perfiles">
                                                <div class="box-body">
                                                    <div class="col-xs-12 col-sm-4">
                                                        <strong><i class="fa fa-info-circle margin-r-5"></i> Nombres:</strong>
                                                        <p class="text-muted">{{searchStudent.data.name}}</p>

                                                        <strong><i class="fa fa-info-circle margin-r-5"></i> Apellidos:</strong>
                                                        <p class="text-muted">{{searchStudent.data.fatherLastname}} {{searchStudent.data.motherLastname}}</p>

                                                        <strong><i class="fa fa-calendar margin-r-5"></i> Fecha de nacimiento:</strong>
                                                        <p class="text-muted">{{searchStudent.data.birthday *1000| date:'dd/MM/yyyy': 'UTC'}}</p>

                                                        <strong><i class="fa fa-barcode margin-r-5"></i> Código de registro:</strong>
                                                        <p class="text-muted">{{searchStudent.data.registerNumber}}</p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4">
                                                        <strong><i class="fa fa-list-alt margin-r-5"></i> {{searchStudent.data.documentType}}:</strong>
                                                        <p ng-if="searchStudent.data.documentNumber !=null && searchStudent.data.documentNumber != ''" class="text-muted">{{searchStudent.data.documentNumber}}</p>
                                                        <p ng-if="searchStudent.data.documentNumber ==null || searchStudent.data.documentNumber == ''" class="text-muted">No ha sido registrado su C.I.</p>

                                                        <strong><i class="fa fa-barcode margin-r-5"></i> Facultad:</strong>
                                                        <p class="text-muted">{{searchStudent.data.career.faculty.name}}</p>

                                                        <strong><i class="fa fa-barcode margin-r-5"></i> Carrera:</strong>
                                                        <p class="text-muted">{{searchStudent.data.career.name}}</p>

                                                        <strong  ng-if="searchStudent.data.email1 !=null && searchStudent.data.email1 != ''"><i class="fa fa-envelope margin-r-5"></i> Correo electrónico Principal:</strong>
                                                        <p   ng-if="searchStudent.data.email1 !=null && searchStudent.data.email1 != ''" class="text-muted">{{searchStudent.data.email1}}</p>

                                                        <strong ng-if="searchStudent.data.email2 !=null && searchStudent.data.email2 != ''"><i class="fa fa-envelope margin-r-5"></i> Correo electrónico Secundario:</strong>
                                                        <p ng-if="searchStudent.data.email2 !=null && searchStudent.data.email2 != ''" class="text-muted">{{searchStudent.data.email2}}</p>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4">
                                                        <strong ng-if="searchStudent.data.phoneNumber1 !=null && searchStudent.data.phoneNumber1 != ''"><i class="fa fa-phone margin-r-5"></i> Teléfono Principal:</strong>
                                                        <p ng-if="searchStudent.data.phoneNumber1 !=null && searchStudent.data.phoneNumber1 != ''" class="text-muted">{{searchStudent.data.phoneNumber1}}</p>

                                                        <strong ng-if="searchStudent.data.phoneNumber2 !=null && searchStudent.data.phoneNumber2 != ''"><i class="fa fa-phone margin-r-5"></i> Teléfono Secundario:</strong>
                                                        <p ng-if="searchStudent.data.phoneNumber2 !=null && searchStudent.data.phoneNumber2 != ''" class="text-muted">{{searchStudent.data.phoneNumber2}}</p>

                                                        <strong><i class="fa fa-barcode margin-r-5"></i> Semestre de Ingreso:</strong>
                                                        <p ng-if="searchStudent.data.firstSemester !=null && searchStudent.data.firstSemester != ''" class="text-muted">{{searchStudent.data.firstSemester}}</p>
                                                        <p ng-if="searchStudent.data.firstSemester ==null || searchStudent.data.firstSemester == ''" class="text-muted">N/A</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" ng-show="tabsPanels == 'historial'" id="tab3">
                                    <div ng-if="alertError" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
                                        <h4><i class="icon fa fa-warning"></i>  {{messageAlert}}</h4>
                                    </div>
                                    <div ng-if="alertErrorHisotryNotes" class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
                                        <h4><i class="icon fa fa-warning"></i>  {{messageAlertHisotryNotes}}</h4>
                                    </div>
                                    <h4 ng-show="!spinnerWidgetHistoryNotes" ng-if="!alertError" class="text-center">Materias Programadas del Semestre: <span style="color: #dd4b39;">{{currentSemester.data.semester}}</span></h4>
                                    <h4 ng-show="!spinnerWidgetHistoryNotes" ng-if="!alertError" class="text-center">Modulo actual: <span style="color: #dd4b39;">{{currentSemester.data.module}}</span></h4><br>
                                    <div ng-if="!alertError" class="table-responsive">
                                        <div ng-show="spinnerWidgetHistoryNotes" class="text-center" style="font-size: 30px">
                                            <div class="overlay" >
                                                <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                                            </div>
                                            <div>
                                                <p style="color: black">Cargando...</p>
                                            </div>
                                        </div>
                                        <table ng-show="!spinnerWidgetHistoryNotes" class="table table-bordered" style="">
                                            <thead>
                                                <th>Modulo</th>
                                                <th>Materia</th>
                                                <th>Turno</th>
                                                <th>Grupo</th>
                                                <th>Inscritos</th>
                                                <th>Estado</th>
                                                <th>Nota</th>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="courses in coursesRegistered.data |orderBy:'module'" ng-class="{'bg-green': courses.module == currentSemester.data.module &&  (courses.state == 'CONFIRMADA' || courses.state == 'MOVIDA DE GRUPO')}">
                                                <td class="text-center">{{courses.module}}</td>
                                                <td>{{courses.course.name}}</td>
                                                <td>{{courses.schedule.description}} {{courses.schedule.schedule}}</td>
                                                <td class="text-center">{{courses.group}}</td>
                                                <td class="text-center">{{courses.numberEnrolled}}</td>
                                                <td class="text-center">{{courses.state}}</td>
                                                <td class="text-center">{{courses.note}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-if="!alertErrorHisotryNotes" class="row">
                                        <div class="col-lg-3 col-xs-6">
                                            <div class="small-box bg-teal">
                                                <div ng-show="spinnerWidgetHistoryNotes" class="text-center" style="font-size: 30px">
                                                    <div class="overlay" >
                                                        <i class="fa fa-refresh fa-spin" style="color: white;"></i>
                                                    </div>
                                                    <div>
                                                        <p style="color: white">Cargando...</p>
                                                    </div>
                                                </div>
                                                <div class="inner" ng-show="!spinnerWidgetHistoryNotes">
                                                    <h3 ng-if="itemshistoryNotes.code==204">0<sup style="font-size: 20px">  pts.</sup></h3>
                                                    <h3 ng-if="itemshistoryNotes.code!=204">{{itemshistoryNotes.data.average| number : 2}}<sup style="font-size: 20px">  pts.</sup></h3>
                                                    <p>Promedio general</p>
                                                </div>
                                                <div class="icon" ng-show="!spinnerWidgetHistoryNotes">
                                                    <i class="fa  fa-book"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xs-6">
                                            <div class="small-box bg-yellow">
                                                <div ng-show="spinnerWidgetHistoryNotes" class="text-center" style="font-size: 30px">
                                                    <div class="overlay" >
                                                        <i class="fa fa-refresh fa-spin" style="color: white;"></i>
                                                    </div>
                                                    <div>
                                                        <p style="color: white">Cargando...</p>
                                                    </div>
                                                </div>
                                                <div class="inner" ng-show="!spinnerWidgetHistoryNotes">
                                                    <h3 ng-if="itemshistoryNotes.code==204"> 0<sup style="font-size: 20px">%</sup></h3>
                                                    <h3 ng-if="itemshistoryNotes.code!=204"> {{itemshistoryNotes.data.progressPercentage| number : 2}}<sup style="font-size: 20px">%</sup></h3>
                                                    <p>Avance carrera</p>
                                                </div>
                                                <div class="icon" ng-show="!spinnerWidgetHistoryNotes">
                                                    <i class="ion ion-stats-bars"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xs-6">
                                            <div class="small-box bg-green">
                                                <div ng-show="spinnerWidgetHistoryNotes" class="text-center" style="font-size: 30px">
                                                    <div class="overlay" >
                                                        <i class="fa fa-refresh fa-spin" style="color: white;"></i>
                                                    </div>
                                                    <div>
                                                        <p style="color: white">Cargando...</p>
                                                    </div>
                                                </div>
                                                <div class="inner" ng-show="!spinnerWidgetHistoryNotes">
                                                    <h3 ng-if="itemshistoryNotes.code==204">0<sup style="font-size: 20px">/0</sup></h3>
                                                    <h3 ng-if="itemshistoryNotes.code!=204">{{itemshistoryNotes.data.approved}}<sup style="font-size: 20px">/{{itemshistoryNotes.data.total}}</sup></h3>
                                                    <p>Materias aprobadas</p>
                                                </div>
                                                <div class="icon" ng-show="!spinnerWidgetHistoryNotes">
                                                    <i class="fa fa-smile-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xs-6">
                                            <a data-backdrop="" data-toggle="modal" data-target="#coursesreproved">
                                                <div class="small-box bg-red">
                                                    <div ng-show="spinnerWidgetHistoryNotes" class="text-center" style="font-size: 30px">
                                                        <div class="overlay" >
                                                            <i class="fa fa-refresh fa-spin" style="color: white;"></i>
                                                        </div>
                                                        <div>
                                                            <p style="color: white">Cargando...</p>
                                                        </div>
                                                    </div>
                                                    <div class="inner" ng-show="!spinnerWidgetHistoryNotes">
                                                        <h3 ng-if="itemshistoryNotes.code==204">0<sup style="font-size: 20px"></sup></h3>
                                                        <h3 ng-if="itemshistoryNotes.code!=204">{{itemshistoryNotes.data.disapproved}}<sup style="font-size: 20px"></sup></h3>
                                                        <p>Materias reprobadas</p>
                                                    </div>
                                                    <div class="icon" ng-show="!spinnerWidgetHistoryNotes">
                                                        <i class="fa fa-frown-o"></i>
                                                    </div>
                                                    <div ng-if="itemshistoryNotes.data.disapproved>0" id="coursesreproved" class="modal fade modal-danger" data-backdrop="static" role="dialog" >
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Materias Reprobadas</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <table class="table table-condensed">
                                                                        <thead>
                                                                        <th class="text-center">Nota</th>
                                                                        <th>Nombre de la materia</th>
                                                                        </thead>
                                                                        <tbody ng-repeat="historyNoteCoursesReproved in coursesFailed | orderBy:'course.name'">
                                                                        <tr>
                                                                            <td class="text-center">{{historyNoteCoursesReproved.note}}</td>
                                                                            <td class="text-left">{{historyNoteCoursesReproved.course.name}}</td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box perfiles collapsed-box" >
                                        <div class="box-header with-border" data-widget="collapse">
                                            <h3 class="box-title">Historial de notas</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mas">
                                                    <i class="fa fa-plus  iconCollapse" ></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="box-body" style="display: none;">
                                            <div class="row">
                                                <div class="nav-tabs-custom">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="" ng-click="changedTabsHistoryNotes('cronologico')" data-toggle="tab" aria-expanded="false">Cronológico</a>
                                                        </li>
                                                        <li class>
                                                            <a href="" ng-click="changedTabsHistoryNotes('pensum')" data-toggle="tab" aria-expanded="false">Pensum</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active in" ng-show="tabsPanelsHistoryNotes == 'cronologico'" id="cronologico">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-6 col-sm-12">
                                                                    <div ng-repeat="(key, value) in finalOrderSemesterCronological"ng-if="($index+1 ) < 6">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-10 col-xs-12">
                                                                                <table class="table table-condensed" style="margin: 0 auto;">
                                                                                    <caption style="text-align: center"><span style="font-size: 17px;color: black">&nbsp;&nbsp;<u><b>SEMESTRE:</b> {{key}}</u></span></caption>
                                                                                        <thead>
                                                                                            <th>SIGLA</th>
                                                                                            <th>DESCRIPCION</th>
                                                                                            <th>NOTA</th>
                                                                                            <th>MODULO</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr ng-repeat="coursesInitials in value | orderBy: 'module'"
                                                                                                ng-class="{'courseNotes': coursesInitials.note < 51}">
                                                                                                <td>{{coursesInitials.course.initials}}</td>
                                                                                                <td width="80%">{{coursesInitials.course.name}}</td>
                                                                                                <td>{{coursesInitials.note}}</td>
                                                                                                <td>{{coursesInitials.module}}</td>
                                                                                            </tr>
                                                                                       </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 col-sm-12">
                                                                    <div ng-repeat="(key, value) in finalOrderSemesterCronological"ng-if="($index+1 ) > 6">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-md-10 col-xs-12">
                                                                                <table class="table table-condensed" style="margin: 0 auto;">
                                                                                    <caption style="text-align: center"><span style="font-size: 17px;color: black">&nbsp;&nbsp;<u><b>SEMESTRE:</b> {{key}}</u></span></caption>
                                                                                    <thead>
                                                                                        <th>SIGLA</th>
                                                                                        <th>DESCRIPCION</th>
                                                                                        <th>NOTA</th>
                                                                                        <th>MODULO</th>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr ng-repeat="coursesInitials in value | orderBy: 'module'"
                                                                                            ng-class="{'courseNotes': coursesInitials.note < 51}">
                                                                                            <td>{{coursesInitials.course.initials}}</td>
                                                                                            <td width="80%">{{coursesInitials.course.name}}</td>
                                                                                            <td>{{coursesInitials.note}}</td>
                                                                                            <td>{{coursesInitials.module}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane active" ng-show="tabsPanelsHistoryNotes == 'pensum'" id="pensum">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-12 col-md-6" ng-repeat="semesters in semester">
                                                                    <p style="font-size: 20px"><b>Semestre {{$index+1}}</b></p>
                                                                    <div ng-repeat="courses in semesters">
                                                                        <a ng-click="getHistoryNotesByCourses(courses.idStudent,courses.idCourse)"  data-backdrop="" data-toggle="modal" data-target="#courses{{courses.idCourse}}">
                                                                            <div class="row" style="margin: 5px;border: 1px solid gray; color: black;"  ng-class="{'bg-gray': courses.note >  0,'': courses.note ==  null}">
                                                                                <div class="col-xs-10 col-sm-10 col-md-10" style="border-right: 1px solid black" >
                                                                                    <p class="vertical-center">{{courses.course}}</p>
                                                                                </div>
                                                                                <div class="col-xs-2 col-sm-2 col-md-2">
                                                                                    <p ng-if="courses.note==null" class="text-center vertical-center">N/A</p>
                                                                                    <p ng-if="courses.note>0" class="text-center vertical-center">{{courses.note}}</p>
                                                                                </div>
                                                                            </div>
                                                                            <div  id="courses{{courses.idCourse}}" class="modal fade" style="overflow-y: scroll" data-backdrop="static" role="dialog" >
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content"   ng-if="!spinnerHistoryNotesByCourse" style="color: black!important;">
                                                                                        <div class="modal-header">
                                                                                            <h5 class="modal-title text-center"><p><b>Materia:</b></p>{{courses.course}}</h5>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <div  ng-if="!alertErrorHistoryNotesByCourse">
                                                                                                <div class="text-center col-xs-6 col-sm-6 col-md-6">
                                                                                                    <span><i class="fa fa-circle text-green margin-r-5"></i>Aprobada</span>
                                                                                                </div>
                                                                                                <div class="text-center col-xs-6 col-sm-6 col-md-6">
                                                                                                    <span><i class="fa fa-circle text-red margin-r-5"></i>Reprobada</span>
                                                                                                </div>
                                                                                                <br>
                                                                                                <br>
                                                                                                <table class="table table-condensed">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <th>Semestre</th>
                                                                                                        <th>Modulo</th>
                                                                                                        <th>Nota</th>
                                                                                                    </tr>
                                                                                                    <tr  ng-repeat="courseDetails in courseDetail"
                                                                                                         ng-class="{'color-red': courseDetails.note <  courseDetails.minimunNote,
                                                                                                                   'color-green': courseDetails.note >=  courseDetails.minimunNote}">
                                                                                                        <td>{{courseDetails.semester}}</td>
                                                                                                        <td>{{courseDetails.module}}</td>
                                                                                                        <td>{{courseDetails.note}}</td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                            <div ng-if="alertErrorHistoryNotesByCourse">
                                                                                                <div class="alert alert-danger" style="margin-bottom: 0px;padding: 6px;">
                                                                                                    <strong>Error:</strong> {{messageAlertHistoryNotesByCourse}}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div ng-show="spinnerHistoryNotesByCourse" class="overlay">
                                                                                        <i class="fa fa-refresh fa-spin" style="color: white;"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" ng-show="tabsPanels == 'documentacion'" id="tab4">
                                    <div class="row">
                                        <div class="box-body no-padding">
                                            <div ng-if="documentsStudentItems.code==204 || documentsStudentItems.code==500 " class="alert alert-warning text-center" style="background-color: rgba(221, 75, 57, 0.87) !important;padding: 7px; border-color: #e33b3b;">
                                                <h4><i class="icon fa fa-warning"></i>  No tienes ningun documento registrado.</h4>
                                            </div>
                                            <div>
                                                <div class="col-md-4">
                                                    <!-- Profile Image -->
                                                    <div class="box perfiles">
                                                        <div class="box-body box-profile">
                                                            <div ng-show="spinnerBoxDocumentStudent" class="text-center" style="font-size: 30px">
                                                                <div class="overlay">
                                                                    <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                                                                    <br>
                                                                </div>
                                                                <div>
                                                                    <br>
                                                                    <p style="color: black">Cargando...</p>
                                                                </div>
                                                            </div>
                                                            <div ng-show="!spinnerBoxDocumentStudent">
                                                                <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() >= numberDocuments() && numberDocuments()>0 && numberDocumentsDelivered()>0">Gracias por entregar todos los documentos.</h3>
                                                                <h3 class="profile-username text-center" ng-if="numberDocumentsDelivered() < numberDocuments()">Por favor entregar los documentos pendientes.</h3>
                                                                <h3 class="profile-username text-center" ng-if="numberDocuments()==0 && numberDocumentsDelivered()==0">No tienes documentos registrados.</h3>
                                                            </div>
                                                            <ul ng-show="!spinnerBoxDocumentStudent" class="list-group list-group-unbordered">
                                                                <li class="list-group-item">
                                                                    <div class="row text-center">
                                                                        <div class="col-xs-12">
                                                                            <p class="numBig" style="display: inline-block">{{numberDocumentsDelivered()}}</p><p style="display: inline-block; margin:0px -11px 0px 18px;font-size: 47px">/{{numberDocuments()}}</p><br>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <div class="row text-center">
                                                                        <div class="col-xs-6">
                                                                            <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos entregados
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos faltantes
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div><!-- /.box-body -->
                                                    </div><!-- /.box -->
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="box perfiles">
                                                        <div class="box-body" ng-swipe-right="stop($event)" ng-swipe-left="stop($event)">
                                                            <div  class="text-center" style="font-size: 30px">
                                                                <div ng-show="spinnerBoxDocumentStudent" class="overlay">
                                                                    <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                                                                    <br>
                                                                </div>
                                                                <br>
                                                                <div ng-show="spinnerBoxDocumentStudent">
                                                                    <br>
                                                                    <p style="color: black">Cargando...</p>
                                                                </div>
                                                            </div>
                                                            <table ng-show="!spinnerBoxDocumentStudent" class="table table-condensed">
                                                                <thead>
                                                                <th class="text-center">Tipo</th>
                                                                <th>Descripción</th>
                                                                </thead>
                                                                <tbody ng-repeat="documentsStudents in documentsStudent | orderBy:'+':true">
                                                                <tr ng-class="{'color-red': documentsStudents.state == false,'color-green': documentsStudents.state == true}">
                                                                    <td class="text-center">
                                                                        <span ng-if="documentsStudents.typePaper == 'O'">Original</span>
                                                                        <span ng-if="documentsStudents.typePaper == 'F'">Fotocopia</span>
                                                                        <span ng-if="documentsStudents.typePaper.trim()==''">N/A</span>
                                                                    </td>
                                                                    <td>{{documentsStudents.document}}</td>

                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <hr>
                                                        </div><!-- /.box-body -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" ng-show="tabsPanels == 'estadoFinanciero'">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-4">
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-5">
                                            <!-- Widget: user widget style 1 -->
                                            <div class="box box-widget widget-user-2">
                                                <div ng-show="spinnerWidgetFinancialState" class="text-center" style="font-size: 30px">
                                                    <div class="overlay">
                                                        <i class="fa fa-refresh fa-spin" style="color: black;"></i>
                                                        <br>
                                                    </div>
                                                    <div>
                                                        <br>
                                                        <p style="color: black">Cargando...</p>
                                                    </div>
                                                </div>
                                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                                <div ng-show="!spinnerWidgetFinancialState" style="color: white" class="widget-user-header" ng-class="{'bg-red': financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance > 0,
                                                            'bg-yellow': (financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance == 0) ||
                                                                            (financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance > 0),
                                                             'bg-olive': financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance == 0 && financialStateOfStudent.data.outstandingBalance == 0 || alertErrorFinancialState }" >
                                                    <h3 class="text-center" ng-if="financialStateOfStudent.data.delinquentBalance == 0 && financialStateOfStudent.data.debitBalance == 0 "><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> No tiene deudas pendientes.</h3>
                                                    <h3 class="text-center" ng-if=" alertErrorFinancialState "><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> No tiene deudas pendientes.</h3>
                                                    <h3 class="text-center" ng-if="financialStateOfStudent.data.delinquentBalance != 0 && financialStateOfStudent.data.debitBalance != 0 && alertErrorFinancialState == false || financialStateOfStudent.data.outstandingBalance ">Tiene Deudas Pendientes</h3>
                                                </div>
                                                <div ng-show="!spinnerWidgetFinancialState" ng-if="financialStateOfStudent.data.delinquentBalance != 0 && financialStateOfStudent.data.debitBalance != 0 && alertErrorFinancialState == false || financialStateOfStudent.data.outstandingBalance " class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a><b>Pago Mensual:</b> <span class="pull-right">{{financialStateOfStudent.data.outstandingBalance | number : 2}} Bs.</span></a></li>
                                                        <li ng-if="financialStateOfStudent.data.expirationDate>0"><a><b>Fecha a pagar:</b> <span class="pull-right">{{financialStateOfStudent.data.expirationDate | date:'dd/MM/yyyy  ': 'UTC'}}</span></a></li>
                                                        <li ng-if="financialStateOfStudent.data.expirationDate<0 || financialStateOfStudent.data.expirationDate==null || financialStateOfStudent.data.expirationDate==''"><a><b>Fecha a pagar:</b> <span class="pull-right">N/A</span></a></li>
                                                        <li><a><b>Deuda vencida: </b><span class="pull-right">{{financialStateOfStudent.data.delinquentBalance | number : 2}} Bs.</span></a></li>
                                                        <li><a><b>Deuda Total:</b> <span class="pull-right">{{financialStateOfStudent.data.debitBalance | number : 2}} Bs.</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div ng-if="financialStateOfStudent.data.delinquentBalance > 0 && financialStateOfStudent.data.debitBalance > 0 || financialStateOfStudent.data.outstandingBalance" class="alert alert-warning text-center" style="padding: 7px">
                                                <span><i class="icon fa fa-warning"></i>  Para mas información, puedes pasar por plataforma estudiantil.</span>
                                            </div>
                                            <!-- /.widget-user -->
                                        </div>
                                        <div class="col-xs-12 col-sm-2 col-md-3">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-0 col-sm-2 col-md-4 text-center">

                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-5 text-center">
                                            <div class="box box-widget">
                                                <div class="box-header" style="background-color: #00a7d0">
                                                    <div class="text-center">
                                                        <h4 style="color: white">Código de pago del BNB</h4>
                                                        <span style="color: white;">{{agendCodeWithoutZero}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section ng-if="showParameters==false">
            <div class="row" style="margin: 10%">
                <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                    <p class="text-muted text-center">
                        Podras visualizar la siguiente información de tu estudiante:<br>
                        -Perfil del estudiante.
                        -Historial de notas.
                        -Documentación.
                    </p>
                </div>
            </div>
        </section>
    </section>
</div>
