<div class="login-box">
  <div class="login-logo">
    <a href="index.html"><b>Utepsa</b>APP</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Introduce tus datos para iniciar sesión</p>

    <form name="form">
      <div class="form-group has-feedback">
        <input type="tel" class="form-control" ng-model="username" placeholder="Codigo de registro">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="password"  placeholder="Contraseña">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button  ui-sref="main" class="btn btn-danger btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<div class="container-footer">
  <div class="text-center login-footer">
    <p>Cualquier duda o consulta , no olvides enviarnos un correo: <span style="color: #ffae00">software.factory@utepsa.edu</span></p>
  </div>
</div>
<!-- /.login-box -->